body {
    font-family: 'Oswald', sans-serif;
}

#gameContainer {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#gameContainer:hover {
	cursor:crosshair;
}

.gameHeader {
    text-align: center;
}

.instructions {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

.instructionsButton {
	border-style: solid;
	padding: 0em 1em;
}

.instructionsButton:hover {
	background-color: #AAAAAA;
	cursor: pointer;
}

.hideInstructionsButton {
	border-style: solid;
	padding: 0em 1em;
	display: none;
}

.hideInstructionsButton:hover {
	background-color: #AAAAAA;
	cursor: pointer;
}

.instructionsList {
	display: none;
}

.startButton {
	padding: 1em 1em;
    margin: 0;
    border: none;
    border-style: solid;
    font-size: 1.5em;
    font-weight: bold;
}

.startButton:hover {
    background-color: #CCCCCC;
	cursor: pointer;
}