
.logo-animation {
  margin-top: 10%;
  width: 50%;
  margin-left: 25%;
}


@media screen and (max-width: 980px) {
  .logo-animation {
    width: 70%;
    margin-top: 50%;
    margin-left: 15%;
  }
}
