.genericErrorMessage {
  text-align: center;
  box-shadow: 0.6em 0.6em 0.7em #CCCCCC;
  font-size: 1.7em;
  margin: 10% 0;
  background-color: #32A8E9;
  color: #FFFFFF;
  padding: 2% 0;
  width: 40%;
  margin-left: 30%;
}
