#leaderboardTitle {
  text-align: center;
  font-size: 2.2em;
  margin: 2% 0;
}

.leaderboardCont table tr td {
  padding: 0;
  text-align: center;
}

.leaderboardCont table tr {
  padding: 0;
  line-height: 250%;
  font-size: 1.1em;
}

.leaderTable {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5%;
}


.evenTableRow {
  background-color: rgba(50, 168, 233, 0.7);
}

.oddTableRow {
  background-color: rgba(50, 168, 233, 0.9);
}

.leaderboardHeaders {
  line-height: 170%;
  box-shadow: 0.2em 0 0.2 #999999;
  background-color: #32A8E9;
}

.leaderboardGameTitle {
  text-align: center;
  background-color: #FFA500;
  color: #FFFFFF;
  margin: 0;
  padding: 1% 0;
  font-size: 1.6em;
}

.leaderboardCont {
  box-shadow: 0.7em 0.7em 0.6em #999999;
  width: 60%;
  margin-left: 20%;
  color: #FFFFFF;
}

.leaderboardUsername:hover {
  cursor: pointer;
  background-color: rgba(255,165,0,0.9);
}
