.loginBox {
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
  font-size: 125%;
  display: block;
  text-align: center;
  border-style: solid;
}

.loginText {
  width: 30%;
  margin-left: 35%;
  display: block;
}

.loginButton {
  width: 30%;
  margin-left: 35%;
  display: block;
}

#usernameField {
  margin-bottom: 5%;
}

#passwordField {
  margin-bottom: 5%;
}

#loginForm {
  padding: 5% 0%;
}

#hiddenInput {
  display:none;
}
