input:focus {
  outline-offset: 0;
}

.mainScreenBackground {
    margin: 0;
    padding: 0;
}

.mainHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    border-top: 0.2em solid #FFA500;
    box-shadow: 0.2em 0 0.2em #999999;
    position: relative;
}

#leftHeader {
    display: flex;
    align-items: center;
}

#rightHeader {
    display: flex;
    align-items: center;
}

#searchInput {
    background-color: white;
    border: none;
    border-bottom: 0.15em solid #FFA500;
    margin-left: 0.5em;
    height: 1.75em;
}

#searchInput:focus {
    outline:none;
}

#magGlass:hover {
    transform: scale(1.35);
    cursor: pointer;
}

.headerButton {
    font-family: 'Play', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    background-color: #FFFFFF;
    border: none;
    padding: 0.5em 0.5em;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.headerButton:hover {
    background-color: #FFA500;
    cursor: pointer;
}

.headerButton:focus {
    outline:none;
}

.mainTitle {
    display: block;
    margin-top: 3em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.mainGamesList {
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    height: 20em;
    overflow-y: scroll;
    box-shadow: 0.7em 0.7em 0.6em #999999;
    color: #FFFFFF;
}

.listGame {
    width: 100%;
    background-color: #32A8E9;
    margin: 0;
    padding: 5% 0%;
}

.listGame:hover {
    cursor: pointer;
    background-color: #FFA500;
    color: #000000;
}

.dropdownMenu {
  display: none;
  position: absolute;
  right: 0em;
  box-shadow: -0.1em 0.1em 0.2em #AAAAAA;
}

.dropdownMenu p {
  margin: 0;
  background-color: #FFFFFF;
  display: block;
  padding: 0.5em 4em 0.5em 0.5em;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.dropdownMenu p:hover {
  cursor: pointer;
  background-color: #FFA500;
}

#dropdownContainer:hover .dropdownMenu {
  display: block;
}

.pageTitle {
  text-align: center;
  font-size: 2.2em;
  margin: 2% 0;
}

.mobileErrorMessage {
  text-align: center;
  margin-top: 10%;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #E2E3E3;
}

::-webkit-scrollbar-thumb:hover {
    background: #E2E3E3;
}

@media screen and (max-width: 980px) {
  .mainGamesList {
    display: none;
  }

  .mainTitle {
    width: 100%;
  }
}
