.mainScreenBackground {
    margin: 0;
    padding: 0;
}

.mainHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.3em solid black;
    background: white;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
}

#leftHeader {
    display: flex;
    align-items: center;
}

#rightHeader {
    display: flex;
    align-items: center;
}

#searchBar {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;;
    border: 0.2em solid black;
    padding: 0.8em;
}

#homeButton, #signIn, #statsButton {
    font-family: 'Oswald', sans-serif;
    border: 0.1em solid black;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    background-color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#signIn:hover {
    cursor: pointer;
    background: #DDDDDD;
}

#homeButton:hover {
    cursor: pointer;
    background: #DDDDDD;
}

#statsButton:hover {
    cursor: pointer;
    background: #DDDDDD;
}

.mainTitle {
    display: block;
    margin-top: 2.5%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.mainGamesList {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border-style: solid;
    height: 15em;
    overflow-y: scroll;
}

.listGame {
    border-radius: 2em;
    border-style: solid;
    width: 30%;
    margin-left: 35%;
}

.listGame:hover {
    cursor: pointer;
    background: #DDDDDD;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
