.mainScreenBackground {
    margin: 0;
    padding: 0;
}

.mainHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    border-top: 0.2em solid #FFA500;
    box-shadow: 0.2em 0 0.2em #999999;
    position: relative;
}

#leftHeader {
    display: flex;
    align-items: center;
}

#rightHeader {
    display: flex;
    align-items: center;
}

#searchBar {
    background-color: white;
    border: none;
    border-bottom: 0.15em solid #FFA500;
    margin-left: 0.5em;
    height: 1.75em;
}

#searchBar:focus {
    border-bottom: 0.2em solid #FFA500;
    outline:none;
}

.headerButton {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    background-color: #FFFFFF;
    border: none;
    padding: 0.5em 0.5em;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.headerButton:hover {
    background-color: #FFA500;
    cursor: pointer;
}

.headerButton:focus {
    outline:none;
}

.mainTitle {
    display: block;
    margin-top: 3em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.mainGamesList {
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    height: 20em;
    overflow-y: scroll;
    box-shadow: 0.7em 0.7em 0.6em #999999;
}

.listGame {
    width: 100%;
    background-color: #32A8E9;
    margin: 0;
    padding: 5% 0%;
}

.listGame:hover {
    cursor: pointer;
    background-color: #FFA500;
    color: #000000;
}

.dropdownMenu {
  position: absolute;
  right: 7em;
  width: 2em;
  display: none;
}

#userDropdownButton:hover {

}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #E2E3E3;
}

::-webkit-scrollbar-thumb:hover {
    background: #E2E3E3;
}


